{% extends "base.html" %}


    {% block body %}

    <h1>O мудрости</h1>
    <p>
        Обрести мудрость – это большое, можно даже сказать, великое достижение. И далеко не каждый человек, даже в весьма солидном возрасте, может им похвастать.
        Мудрость – это ценность, которая приходит к человеку с годами. Быть молодым и мудрым невозможно. Но и сам по себе возраст не делает человека мудрым.
        К мудрости нужно стремиться, а не просто ждать ее. Мудрость – это не просто знания, опыт, рассудительность – это прежде всего спокойствие, это отсутствие лишних эмоций, которые затмевают рассудок.
        Мудрый человек – это спокойный человек, он смотрит на жизнь с пониманием ее смысла. Он умеет принимать жизнь такой, какая она есть, видя во всем, что в ней происходит, определенную цель.
        В молодости, когда у людей все чувства обострены, когда они чаще реагируют на все, что происходит в их жизни достаточно импульсивно и очень редко обдумывают происходящее – они очень далеки от мудрости, потому что им не хватает спокойствия и уравновешенности, которые приходят с годами.
        Чувства, эмоции, обостренные инстинкты, ну и конечно же отсутствие нужных знаний и опыта – все это мешает людям быть мудрыми. В этой статье я расскажу вам о том, как люди, которых лично я считаю очень мудрыми, с их слов, обрели эту
        великую ценность.</p>
    {% endblock body %}