{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="{% static 'img/блог_1.png'  %}" alt="">
        {% for m in menu %}
        <ul>
            <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
        </ul>
        {% endfor %}
        <ul>
            <li><a href="{% url 'mudrosty' %}">Мудрости</a></li>
            {% if request.user.is_authenticated and request.user.is_staff %}
            <li><a href="{% url 'mudrosty_add' %}">Добавить мудрость</a></li>

            {% endif %}

        </ul>

    </nav>
    <aside>
        <ul id="menu">
            {% if request.user.is_authenticated %}
            <li><a>{{user.username}}</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'check_in' %}">Регистрация</a></li>
            <li><a href="{% url 'authorization' %}">Авторизация</a></li>
            {% endif %}
        </ul>
    </aside>

    {% block body %}
    {% endblock body %}

    <div>
        <ul>
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li >{{p}}</li>
            {% else %}
            <li>
                <a href="?page={{ p }}">{{ p }}</a>

            </li>
            {% endif %}
            {% endfor %}
        </ul>

    </div>




</body>
</html>